<div
        class="categories"
        [ngClass]="{
    'categories--portrait': tileRatio === 'portrait',
    'categories--landscape': tileRatio === 'landscape'
  }"
        *ngIf="items?.length"
>

    <div
            *ngFor="let c of items; let i = index"
            class="categories__tile"
            (click)="open(c)"
            (keydown.enter)="open(c)"
            tabindex="0"
            role="button"
    >
        <img
                class="categories__tile-image"
                [src]="c.thumbnail"
                [alt]="c.title"
                loading="lazy"
                width="400" height="300"
        />
        <div class="categories__tile-title">
            {{ c.title }}
        </div>
    </div>

</div>

<!-- Lightbox -->
<app-lightbox
        [images]="activeImages"
        [thumbs]="activeThumbs"
        [descriptions]="activeDescriptions"
        [title]="activeTitle"
        [visible]="lightboxVisible"
        (closed)="lightboxVisible = false"
></app-lightbox>
